.hero-header {
  align-items: flex-end;
  background-color: #09304c;
  background-repeat: no-repeat;
  display: flex;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  justify-content: center;
  position: relative;
  right: 50%;
  width: 100vw;
}
.hero-title {
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.75px;
  margin: 2rem 0 0;
}
.hero-title-highlight {
  color: #c1a783;
}
.hero-content-background {
  align-items: center;
  background-color: #0a314d;
  background-image: url(https://viperstaticdev.s3.amazonaws.com/stories/uploads/2019/09/iran_header_bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 800px;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
.hero-line {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1em;
  margin-left: 10vw;
  max-width: 719px;
  min-height: 135px;
  opacity: 0;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .hero-content-background {
    background-position: 75% top;
    height: 75vh;
  }
}
@media screen and (max-width: 500px) {
  .hero-title {
    text-align: center;
  }
  .hero-line {
    font-size: 1.5rem;
  }
  .hero-content {
    padding-top: 15vh;
  }
  .hero-content-background {
    align-items: flex-start;
    background-position: 80% top;
    height: 80vh;
  }
}

.position-on-iran-bg {
  background-color: #323a45;
  background-repeat: no-repeat;
  background-image: url(https://viperstaticdev.s3.amazonaws.com/stories/uploads/2019/09/iran_texture_placeholder.jpg);
  background-position: center top;
  background-size: cover;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.position-on-iran-title {
  font-family: Open Sans;
  font-size: 2.5em;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid #000;
  text-align: center;
  margin-top: 100px;
}
.position-on-iran-content {
  width: 75vw;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  color: #000000;
  text-align: center;
}
.position-on-iran-content-bold {
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  .position-on-iran-title {
    padding: 0px 10px 0px 10px;
  }
}

.true-false-bg {
  background-color: #062135;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  min-height: 750px;
}
.true-false-title {
  font-family: Open Sans;
  font-size: 2.5em;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none solid #fff;
  text-align: center;
  padding: 50px 0px 50px 0px;
}
.true-false-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.true-false-slider-title {
  font-family: Open Sans;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
}
.true-false-slider-box {
  width: 545px;
  height: 293px;
  padding: 50px;
  margin: 10px;
  border: 5px solid #d01319;
  font-family: Open Sans;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none solid #fff;
  text-align: center;
  display: flex;
  align-items: center;
}
.true-false-buttons {
  display: flex;
  justify-content: center;
  padding: 50px 0px 50px 0px;
}
.true-false-button {
  width: 166px;
  height: 72px;
  background-color: #0a314d;
  background-size: cover;
  font-family: Arial;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin: 15px;
}
.true-false-button:hover {
  border: 2px solid #ffffff;
}
.true-false-button:active {
  border: 3px solid #ffffff;
}
@media screen and (max-width: 500px) {
  .true-false-slider-box {
    max-width: 350px;
  }
  .true-false-slider-title {
    padding: 15px;
  }
}

.card-section-bg {
  color: #ffffff;
}
.card-section-title {
  font-family: Open Sans;
  font-size: 2.5em;
  color: #000000;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
}
.card-section-subtitle {
  font-family: Open Sans;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  padding: 25px;
}
.card-array {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 50px;
}
.card {
  width: 376px;
  height: 229px;
  padding: 50px;
  border: 5px solid #063125;
  background-size: cover;
  font-family: Open Sans;
  font-size: 30px;
  color: #063125;
  font-weight: 600;
  text-decoration: none solid #063125;
  text-align: center;
  margin: 15px;
}
hr.card-horizontal {
  max-width: 1200px;
  height: 2px;
  stroke-width: 2;
  background-color: #666;
}
.card-section-info-array {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.info-array-media {
  margin: 20px;
}
.info-array-text {
  margin: 20px;
}
.info-array-text-title {
  font-family: Open Sans;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}
.info-array-text-content {
  font-family: Open Sans;
  font-size: 20px;
  color: #000000;
  max-width: 650px;
}
.card-section-additional-resources {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.resources-link {
  width: 296px;
  height: 182px;
  background-color: #dadada;
  background-size: cover;
  font-family: Arial;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid #000;
  text-align: center;
  margin: 57px;
}
@media screen and (max-width: 768px) {
  hr.card-horizontal {
    max-width: 500px;
  }
  .card-array {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .card {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
  .resources-link {
    margin: 15px;
  }
}
@media screen and (max-width: 500px) {
  hr.card-horizontal {
    max-width: 250px;
  }
  .card-array {
    flex-wrap: wrap;
  }
}

.panel {
  height: 100%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
}
.graphic-scroll-image {
  padding-bottom: 1.5em;
}
#slide-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
}
section,
footer {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
}
footer {
  height: 100px;
  background-color: gray;
}
.one {
  background-color: #262626;
}
.two {
  background-color: #38ced7;
}
.three {
  background-color: #953543;
}
.graphic-scroll-image {
  margin-right: 5vw;
  max-height: 418px;
  max-width: 418px;
}
.graphic-scroll-text {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 24px;
  max-width: 750px;
}

.iran-stats-box-bg {
  background-image: url(https://viperstaticdev.s3.amazonaws.com/stories/uploads/2019/10/AP_17364587200944.jpg);
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.iran-stats-title {
  font-size: 2.5em;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding-top: 10vh;
}
.iran-stats-array {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 150px;
  padding-top: 100px;
}
.iran-stats-item {
  border: 5px solid #ffffff;
  padding: 40px;
  margin: 10px;
}
.iran-stats-item-percent {
  font-size: 80px;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none solid #000;
  text-align: center;
  margin: 0;
}
.iran-stats-item-info {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none solid #000;
  text-align: center;
  max-width: 200px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .iran-stats-array {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .iran-stats-array {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.timeline-bg {
  background-color: #f1f1f1;
  min-height: 730px;
  opacity: 0.8;
  width: 100%;
}
.timeline-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.timeline-container {
  display: grid;
  grid-template-areas: ". top1 . top2" "line line line line" "bottom1 . bottom2 .";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 10rem 0;
  width: 95%;
}
.timeline-dot {
  background-color: #0a314d;
  border-radius: 50%;
  height: 37px;
  transform: translateY(-17.5px);
  width: 37px;
}
.timeline-heading {
  color: #063125;
  font-size: 24px;
  font-weight: 800;
  max-height: 33px;
  max-width: 128px;
}
.timeline-line {
  background-color: #0a314d;
  border: 3px solid #0a314d;
  display: grid;
  grid-area: line;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 1px;
  justify-items: center;
  margin: 2rem auto;
  width: 100%;
}
.timeline-slide-title {
  color: #ffffff;
  font-size: 100px;
  font-weight: 800;
  padding-left: 5vw;
  padding-top: 3vh;
  text-transform: uppercase;
}
.timeline-text {
  color: #0a314d;
  max-height: 75px;
  max-width: 250px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.timeline-title {
  color: #000000;
  font-size: 2.5em;
  font-weight: 700;
  padding-top: 5rem;
  text-align: center;
}
.top1 {
  align-self: end;
  grid-area: top1;
}
.top2 {
  align-self: end;
  grid-area: top2;
}
.bottom1 {
  grid-area: bottom1;
}
.bottom2 {
  grid-area: bottom2;
}
@media screen and (max-width: 768px) {
  .timeline-container {
    grid-template-areas: "bottom1 line ." ". line top1" "bottom2 line ." ". line top2";
    grid-template-columns: 1fr 0.25fr 1fr;
    margin: 0 auto;
    padding: 5rem 0;
  }
  .timeline-dot {
    transform: translateY(0);
    transform: translateX(-17.5px);
  }
  .timeline-line {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    margin: 0 1.75rem;
    width: 1px;
  }
  .timeline-slide-title {
    font-size: 3em;
  }
  .bottom1,
  .bottom2 {
    align-items: flex-end;
    margin: 2rem 0;
  }
  .bottom1 > .timeline-text,
  .bottom2 > .timeline-text {
    text-align: right;
  }
  .top1,
  .top2 {
    align-items: flex-start;
    margin: 2rem 0;
  }
  .top1 > .timeline-text,
  .top2 > .timeline-text {
    text-align: left;
  }
}
@media screen and (max-width: 500px) {
  .timeline-title {
    padding: 20px 20px 0 20px;
  }
}
