@import '../_variables/colors.scss';
@import '../_variables/fonts.scss';

header {
  background-color: $dark-blue;
}

.header-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-callback {
  color: $white;
  font-family: $serif;
  font-size: $font-normal;
  text-decoration: none;
}