.menu-bottom-nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;

  &.menu-primary {
    margin: 1rem 0 0;
  }

  &.menu-secondary {
    margin: 0;
  }

  > .menu-item {
    margin-left: 0;
  }

  > .current-menu-item {
    font-weight: $bold;
  }
}

// Non-mobile style
@media screen and ( min-width: 500px ) {
  .menu-bottom-nav {
    flex-direction: row;
    
    &.menu-primary {
      margin: 0;
    }

    > .menu-item:not(:first-of-type) {
      margin-left: .75rem;
    }
  }
}