@import '../_variables/colors.scss';
@import '../_variables/fonts.scss';

#menu-primary {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  >.menu-item {
    margin-left: 1.5rem;
  }

  >.current-menu-item {
    font-weight: $bold;
    text-decoration: underline;
  }
}

.menu-item>a {
  color: $white;
  font-family: $sans-serif;
  font-size: $font-small;
  text-decoration: none;
  text-transform: uppercase;
}