@import '../_variables/colors.scss';
@import '../_variables/fonts.scss';

#menu-top-nav {
  display: flex;
  list-style-type: none;

  > .menu-item {
    margin-left: .75rem
  }

  > .current-menu-item {
    font-weight: $bold;
    text-decoration: underline;
  }
}

.menu-item > a {
  color: $white;
  font-family: $sans-serif;
  font-size: $font-small;
  text-decoration: none;
}