// Adjustments to state base CSS
.nav__primary-nav,
.nav__utility-items,
.nav__bureaus-offices-list,
.nav__bureaus-offices-internal,
.nav__secondary-nav {
  list-style: none;
}

@media (min-width: 62em) {
  .nav__primary-nav {
    padding: 0;
  }
}

.nav__nav-trigger {
  display: none;
}
