@import '../_variables/colors.scss';
@import '../_variables/fonts.scss';

.callback {
  color: $white;
  font-family: $serif;
  font-size: $font-small;
  text-decoration: none;
}

// Non-mobile style
@media screen and ( min-width: 500px ) {
  .callback {
    font-size: $font-normal;
  }
}